CoffeeFinder/CoffeeFinder.Android/Resources/Resource.Designer.cs
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-hdpi/refresh.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-hdpi/splash.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-mdpi/refresh.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-mdpi/splash.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-xhdpi/refresh.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-xhdpi/splash.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-xxhdpi/refresh.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable-xxhdpi/splash.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable/Icon.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable/logo.png
CoffeeFinder/CoffeeFinder.Android/Resources/drawable/splash.png
CoffeeFinder/CoffeeFinder.Android/Resources/values/Colors.xml
CoffeeFinder/CoffeeFinder.Android/Resources/values/Strings.xml
CoffeeFinder/CoffeeFinder.Android/Resources/values/Style.xml
CoffeeFinder/CoffeeFinder.Android/Resources/values/styles_basetheme.xml